<div>

    <h1>welcome to lucid</h1>
    <h2>a stupid text RP project</h2>
</div>

<div>get in quick...</div>

<div >
    <form action="/ulogin" method="post">
    
    <label for="username">username</label>
    <input type="text" name="user" id="username">

    <label for="passid">password</label> 
    <input type="password" name="pass" id="passid">

    <input type="submit" value="spawn in">

    </form>


    <div>
        <h3>not an existing user? Join here</h3>
        <form action="/register" method="get">
        <input type="submit" value="register">
        </form>
    </div>

</div>
<div><hr></div>

<div>
    this will have about kinda links
</div>


